body {
    background-color: #eeeeee;
    font-family:
            'Open Sans', 'Helvetica Neue', "PingFang SC", "Hiragino Sans GB",
            "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo,
            "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Helvetica, sans-serif;
}

body > #root, body > #root > .app, body > #root > .app > .grid {
    height: 100%;
}

.column {
    max-width: 450px;
}
